<%= form_with(model: @user1,url: create2_path ,local: true,method: "post" )do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field (:name) %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.text_field(:password) %>
  </p>
 <p>
    <%= form.label :email %><br>
    <%= form.text_field(:email) %>
  </p>
 <p>
    <%= form.label :accounttype %><br>
    <%= form.text_field(:accounttype) %>
  </p>
 <p>
    <%= form.label :phonenumber %><br>
    <%= form.text_field(:phonenumber) %>
  </p>
 <p>
    <%= form.label :status %><br>
    <%= form.text_field(:status) %>
  </p>
   <p>
    <%= form.label :pid %><br>
    <%= form.text_field(:pid) %>
  </p>
 
  <p>
    <%= form.submit('update') %>
  </p>
<% end %>